node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
metadata.json
**/backend/vendor/
**/backend/storage/*.key
**/backend/storage/logs/*.log
**/backend/storage/framework/cache/*
**/backend/storage/framework/sessions/*
**/backend/storage/framework/views/*
**/backend/bootstrap/cache/*
.vercel
.vscode/

*.md
!README.md
*.docx
